@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@font-face {
  font-family: "whytebld";
  src: url(../fonts/WhyteInktrap-Black.ttf);
}

@font-face {
  font-family: "whyte";
  src: url(../fonts/WhyteInktrap-Regular.ttf);
}

* {
  box-sizing: border-box;
}

.good-shadow {
  text-shadow: #000000 0 0 50px;
}

.grid-gradient {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, white 2px, transparent 2px),
    linear-gradient(to bottom, white 2px, transparent 2px);
}

.reg-whyte {
  font-family: "whyte";
}
.bld-whyte {
  font-family: "whytebld";
}

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }
}

/* @media screen and (min-width: 640px) { */
.svg-background {
  background: url(/public/background.svg) repeat;
  background-size: 150vh;
}
/* } */

body[data-nav="true"] > #moveUp > #nav-left {
  transform: translate(-112.5%, -50%) !important;
}
body[data-nav="true"] > #moveUp > #nav-right {
  transform: translate(12.5%, -50%) !important;
  /* scale: 2; */
}

::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-thumb {
  border: 2px solid black;
  border-radius: 100vw;
  background-color: #001382;
}
::-webkit-scrollbar-thumb:hover {
  border: 2px solid black;
  background-color: white;
}

body[data-nav="true"] > #moveUp {
  transform: translateY(-50%);
}
body[data-nav="true"] > #menu {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

body:not([data-nav="true"]) > #nav-toggle > #open {
  opacity: 1 !important;
  transform: translate(-50%, -50%) scale(2);
}

body[data-nav="true"] > #nav-toggle > #close {
  opacity: 1 !important;
  transform: translate(-50%, -50%) scale(2);
}

@media (max-width: 640px) {
  .slide {
    animation-name: movx;
  }
  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }
}
@media (min-width: 640px) {
  .slide {
    animation-name: movy;
  }
}
.slide {
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes movy {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes movx {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-400%);
  }
}
